EMPOWER_USERNAME=your_empower_username
EMPOWER_PASSWORD=your_empower_password

MQTT_HOST=home-assistant-or-broker-ip
MQTT_PORT=1883
MQTT_USER=
MQTT_PASS=

EMPOWER_HEADLESS=true
EMPOWER_TRY_HEADLESS_FIRST=true

EMPOWER_DEVICE_ID=empower_naperville
EMPOWER_DEVICE_NAME=Naperville Empower
